<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VC_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>*@
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Parks</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@

                        @*
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MakeReservation">Make Reservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ManageReservation">Manage Reservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ParkDesignationChart">Park Designations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Data" asp-action="LoadParks">Import NPS Parks Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Data" asp-action="LoadInternalParks">Load Internal Park Subset</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <div class="text-center">
                <h1 class="display-4">About Project</h1>
                <p>Full Stack Web Application </p>
            </div>

            <!-- <div class="text-center"> -->
            <div class="image">
                <img src="img/Background.jpg" />
            </div>
            <!-- </div> -->

            <div class="text-center">
                <h2>Objective</h2>
                <p>
                    For this assignment we decided to make an interactive National Parks reservations website by integrating  the National Parks API and connecting to a Parks database. Jessica Greenlee and Armando Ramos leveraged what we learned in this course to retrieve the data and populate the table. Armando Ramos also created a dynamic pie chart using content from the database.
                </p>
                <p>Vibha Na created the Make and Manage Reservations Pages allowing our application to have a many to many relationship as well as creating the CRUD operators. </p>





                <p>We believe that what we have learned and achieved in this course is very valuable. Our team was able to leverage the different concepts that we learned in the course to create a significant interactive application.  </p>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - NationalParks - <a href="index.html">Home</a>
        </div>
    </footer>

</body>

</html>