@*
*@

<div class="container">
    <main role="main" class="pb-3">

        <div class="text-center">
            <h1 class="display-4">About Project</h1>
            <p>Full Stack Web Application </p>
        </div>

        <div class="text-center">
            <h2>Objective</h2>
            <p>
                For this assignment we decided to make an interactive National Parks reservations website by integrating  the National Parks API and connecting to a Parks database. Jessica Greenlee and Armando Ramos leveraged what we learned in this course to retrieve the data and populate the table. Armando Ramos also created a dynamic pie chart using content from the database.
            </p>
            <p>Vibha Na created the Make and Manage Reservations Pages allowing our application to have a many to many relationship as well as creating the CRUD operators. </p>





            <p>We believe that what we have learned and achieved in this course is very valuable. Our team was able to leverage the different concepts that we learned in the course to create a significant interactive application.  </p>
        </div>
    </main>
</div>

