<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>National Parks Website</title>
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/site.css" />
    <style>
        h1 {
            color: #009;
            font-size: 1em;
            margin-bottom: .3em;
            text-align: center;
            text-decoration: underline;
        }

        table {
            margin: .3em;
            width: 290px;
        }

        th {
            padding: .2em;
        }

        td {
            background-color: darkolivegreen;
            border: 1px solid #900;
            padding-left: .5em;
            padding-right: .5em;
            background-image: url('https://www.apple.com/newsroom/images/values/environment/standard/Apple_celebrates-national-parks-glacier-national-park_08242020_big.jpg.large.jpg');
        }

        #trHeader {
            color: #900;
            text-decoration: underline;
        }

        .centerCell {
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
                <a class="navbar-brand" href="index.html">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="Park.cshtml">Park List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="about-project.html">About project</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <center>
                <div class="text-center">
                    <h1 class="display-4">Welcome</h1>
                    <p>To Learn More about our National Parks, please click here <a href="https://en.wikipedia.org/wiki/List_of_national_parks_of_the_United_States" target="_blank">Parks</a>.</p>
                </div>

                <!-- <div class="text-center"> -->
                <div class="youtube-video-container">

                    <iframe width="600"
                            height="450"
                            src="https://www.youtube.com/embed/zTBmv-Gzf2w"
                            frameborder="0"
                            allow="autoplay; encrypted-media"
                            allowfullscreen>
                    </iframe>
            </center>

    </div>

    <!-- </div> -->


    <div class="text-left">
        <h2></h2>
        <p></p>
        <p></p>
    </div>


    <div class="text-left">
        <h2></h2>
        <p></p>
        <p></p>
        <p></p>



    <div class="text-left">
        <h2></h2>
        <p></p>
        <p></p>

        <center>
            <div class="google-map-container">
                <iframe src="https://www.google.com/maps/d/embed?mid=1US8kt_OlYMffR1KaaEvaqkhYUrs"
                        width="640"
                        height="480"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy">
                </iframe>
            </div>


    </div>

    </main>
    </div>
    </center>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - National Parks USA - <a href="Park.html">Home</a>
        </div>
    </footer>
</body>

