@page
@model VC_MVC.Views.Home.parkchartModel
@{
}

<div class="row">
    <div class="col-md-6">
<h5>Parks Pie Chart</h5>
        <div>
            <canvas id="myPieChart"></canvas>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="https://cdn.jsdeliver.net/npm/chart.js@2.8.0"></script>

<script type="text/javascript">
        $(function(){

            var ctx = document.getElementById("myPieChart").getContext('2d');

            var myPieChart = new Chart(ctx, {

                type: 'pie',
                data: {

                    labels: ["Alaska", "Arkansas", "California", "Utah", "Colorado", "Arizona", "Florida", "Washington", "Hawaii", "South Dakota", "Texas", "Wyoming", "Kentucky", "Maine", "Michigan", "Minnesota", "Montana", "Nevada", "New Mexico", "North Carolina", "North Dakota", "Ohio", "Oregon", "South Carolina", "Tennessee", "Virginia"],
                    datasets: [{

                        backgroundColor: ["#2ecc71", "#3498db", "#95a5a6", "9b59e6"],
                        data:[8,1,8,5,4,3,3,3,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1]
                    }]
                }
            })
        });
        </script>
}